#errorCatcher Echo
## Total rain (Column 16) set to yearly rain
## Weather condition (Column 19) not implemented
## extraHumid3 (Column 25) not availalbe in weewx so not implemented
## Indorr heat index (Column 30) not availalbe in weewx so not implemented
## Trends based on time_delta in skin.conf
#set $blank = ""
#set $vws_Y = $current.dateTime.format("%Y")
#set $vws_m = $current.dateTime.format("%-m")
#set $vws_d = $current.dateTime.format("%-d")
#set $vws_H = $current.dateTime.format("%-H")
#set $vws_M = $current.dateTime.format("%-M")
#set $vws_S = $current.dateTime.format("%-S")
#set $vws_WIND = $current.windSpeed.nolabel("%.1f","")
#set $vws_WINDGUST = $current.windGust.nolabel("%.1f","")
#set $vws_WINDDIR = $current.windDir.nolabel("%.0f","")
#set $vws_INHUM = $current.inHumidity.nolabel("%.1f","")
#set $vws_OUTHUM = $current.outHumidity.nolabel("%.1f","")
#set $vws_INTEMP = $current.inTemp.nolabel("%.1f","")
#set $vws_OUTTEMP = $current.outTemp.nolabel("%.1f","")
#set $vws_BAROM = $current.barometer.nolabel("%.1f","")
#set $vws_YEARRAIN = $year.rain.sum.nolabel("%.1f","")
#set $vws_MONRAIN = $month.rain.sum.nolabel("%.1f","")
#set $vws_DAYRAIN = $day.rain.sum.nolabel("%.1f","")
#set $vws_HOURRAIN = $hour.rain.sum.nolabel("%.1f","")
#set $vws_EXTEMP1 = $current.extraTemp1.nolabel("%.1f","")
#set $vws_EXTEMP2 = $current.extraTemp2.nolabel("%.1f","")
#set $vws_EXTEMP3 = $current.extraTemp3.nolabel("%.1f","")
#set $vws_EXHUM1 = $current.extraHumid1.nolabel("%.1f","")
#set $vws_EXHUM2 = $current.extraHumid2.nolabel("%.1f","")
#set $vws_LEAF2 = $current.leafWet2.nolabel("%.1f","")
#set $vws_CONSBATT = $current.consBatteryVoltage.nolabel("%.1f","")
#set $vws_RAD = $current.radiation.nolabel("%.1f","")
#set $vws_DEWP = $current.dewpoint.nolabel("%.1f","")
#set $vws_RAINRATE = $current.rainRate.nolabel("%.1f","")
#if $current.apptemp.has_data
#set $vws_CHILLAPPTEMP = $current.apptemp.nolabel("%.1f","")
#else
#set $vws_CHILLAPPTEMP = $current.windchill.nolabel("%.1f","")
#end if
#if $current.apptemp.has_data
#set $vws_HEATAPPTEMP = $current.apptemp.nolabel("%.1f","")
#else
#set $vws_HEATAPPTEMP = $current.heatindex.nolabel("%.1f","")
#end if
#set $vws_OUTTEMPRATE = $trend.outTemp.nolabel("%.1f","")
#set $vws_INTEMPRATE = $trend.inTemp.nolabel("%.1f","")
#set $vws_BAROMRATE = $trend.barometer.nolabel("%.1f","")
#set $vws_EXTEMP1RATE = $trend.extraTemp1.nolabel("%.1f","")
#set $vws_EXTEMP2RATE = $trend.extraTemp2.nolabel("%.1f","")
#set $vws_EXTEMP3RATE = $trend.extraTemp3.nolabel("%.1f","")
##
##1  2      3      4      5      6      7      8         9             10           11         12          13          14           15         16            17           18            19     20           21          22           23          24           25     26         27            28       29                30     31               32        33            34               35              36             37               38               39               40           41
1.01,$vws_Y,$vws_m,$vws_d,$vws_H,$vws_M,$vws_S,$vws_WIND,$vws_WINDGUST,$vws_WINDDIR,$vws_INHUM,$vws_OUTHUM,$vws_INTEMP,$vws_OUTTEMP,$vws_BAROM,$vws_YEARRAIN,$vws_DAYRAIN,$vws_HOURRAIN,$blank,$vws_EXTEMP1,$vws_EXHUM1,$vws_EXTEMP2,$vws_EXHUM2,$vws_EXTEMP3,$blank,$vws_LEAF2,$vws_CONSBATT,$vws_RAD,$vws_CHILLAPPTEMP,$blank,$vws_HEATAPPTEMP,$vws_DEWP,$vws_RAINRATE,$vws_OUTTEMPRATE,$vws_INTEMPRATE,$vws_BAROMRATE,$vws_EXTEMP1RATE,$vws_EXTEMP3RATE,$vws_EXTEMP3RATE,$vws_MONRAIN,$vws_YEARRAIN