#errorCatcher Echo
## Template file for providing data to Australian Weather Network
## Based on template file for Weather Link as per instructions
## at http://www.australiawx.net/instructions.php
## and template file at http://www.australiawx.net/WL_stickertags.txt
## Trends based on time_delta in skin.conf
## Assuming wind10Avg and windAvg10 are similar and using windSpeed
## which is usually an average of some kind.
## Using Barometer trend words found in Davis VP Manual
## http://www.davisnet.com/product_documents/weather/manuals/07395-234_IM_06312.pdf
## Localisations have been attempted for worldwide use
## Check with your local mesonet
#set $blank = ""
#set $WL_DATE = $current.dateTime.format("%x")
#set $WL_TIME = $current.dateTime.format("%X")
#set $WL_WIND = $current.windSpeed.nolabel("%.1f","")
#set $WL_WINDGUST = $current.windGust.nolabel("%.1f","")
#set $WL_WINDDIR = $current.windDir.ordinal_compass.replace("N/A","N")
#set $WL_OUTHUM = $current.outHumidity.nolabel("%.1f","")
#set $WL_OUTTEMP = $current.outTemp.nolabel("%.1f","")
#set $WL_BAROM = $current.barometer.nolabel("%.1f","")
#if $trend.barometer.raw is not None
    #set $WL_BAROM_TREND = $trend.barometer.hPa.raw
    #if $WL_BAROM_TREND >= 2.0
    #set $WL_BAROM_TREND_TXT = "Rising Rapidly"
    #else if $WL_BAROM_TREND >= 0.7
    #set $WL_BAROM_TREND_TXT = "Rising Slowly"
    #else if $WL_BAROM_TREND <= -2.0
    #set $WL_BAROM_TREND_TXT = "Falling Rapidly"
    #else if $WL_BAROM_TREND <= -0.7
    #set $WL_BAROM_TREND_TXT = "Falling Slowly"
    #else
    #set $WL_BAROM_TREND_TXT = "Steady"
    #end if
#else
    #set $WL_BAROM_TREND_TXT = ""
#end if
#set $WL_DAYRAIN = $day.rain.sum.nolabel("%.1f","")
#set $WL_DEWP = $current.dewpoint.nolabel("%.1f","")
#if $current.appTemp.has_data
#set $WL_CHILLAPPTEMP = $current.appTemp.nolabel("%.1f","")
#else
#set $WL_CHILLAPPTEMP = $current.windchill.nolabel("%.1f","")
#end if
#if $current.appTemp.has_data
#set $WL_HEATAPPTEMP = $current.appTemp.nolabel("%.1f","")
#else
#set $WL_HEATAPPTEMP = $current.heatindex.nolabel("%.1f","")
#end if
#set $WL_SUNRISE = $almanac.sun.rise.format("%H:%M:%S")
#set $WL_SUNSET = $almanac.sun.set.format("%H:%M:%S")
#set $WL_TEMPUNIT = $unit.label.outTemp.strip()
#set $WL_WINDUNIT = $unit.label.windSpeed.strip().replace("/", "")
#set $WL_BAROMUNIT = $unit.label.barometer.strip()
#set $WL_RAINUNIT = $unit.label.rain.strip()
##
##<!--stationTime-->,<!--stationDate-->,<!--outsideTemp-->,<!--outsideHeatIndex-->,<!--windChill-->,<!--outsideHumidity-->,
##        1                  2                   3                    4                   5                   6            
##<!--outsideDewPt-->,<!--barometer-->,<!--BarTrend-->,<!--wind10Avg-->,<!--windDirection-->,<!--dailyRain-->,<!--blank-->,
##         7                  8               9                10                11                  12       13
##<!--sunriseTime-->,<!--sunsetTime-->,<!--windAvg10-->,<!--windHigh10-->,<!--tempUnit-->|<!--windUnit-->|<!--barUnit-->|<!--rainUnit-->
##        14                15                16               17               18               19             20             21
##1      2        3           4                5                6          7        8         9                   10       11          12        13      14          15         16       17           18-21
$WL_TIME,$WL_DATE,$WL_OUTTEMP,$WL_HEATAPPTEMP,$WL_CHILLAPPTEMP,$WL_OUTHUM,$WL_DEWP,$WL_BAROM,$WL_BAROM_TREND_TXT,$WL_WIND,$WL_WINDDIR,$WL_DAYRAIN,$blank,$WL_SUNRISE,$WL_SUNSET,$WL_WIND,$WL_WINDGUST,$WL_TEMPUNIT|$WL_WINDUNIT|$WL_BAROMUNIT|$WL_RAINUNIT