#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe, but if your text is 
## actually in Latin-1, then you should replace the string "UTF-8" with "latin-1"
#encoding UTF-8
#import dateutil.parser
##
## MyBlitzortung Page
##
## Radar and Satellite included
##
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>$station.location Weather - Lightning and Storms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lightning and Storms for Carlingford, NSW, Australia.">
    <meta name="author" content="">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="weewx-responsive.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" href="$station.station_url/favicon.ico">
    <script type='text/javascript'>//<![CDATA[ 
      jQuery(window).load(function(){
        jQuery('div.btn-group ul.dropdown-menu li a').on('click', function (e) {
            var url = "NOAA/NOAA-";
            
            e.preventDefault(); // prevent the default anchor functionality
            url = url + jQuery(e.target).closest('a').data('file');
            url = url + ".txt";
            window.open(url, '_blank');
        });
      });//]]>
    </script>		
  </head>
  <body>
    <div class="container-fluid">
      <div class="row panel panel-primary">
        <div class="col-md-12 panel-heading">
          <div class="col-md-6">
            <h4>
                <div class="pull-left"><a href="$station.station_url"><span class="glyphicon glyphicon-home" style="color: white"></span></a>&nbsp;&nbsp;$station.location Weather - Storms</div>
                <div class="pull-right">
                    #if $Extras.has_key('use_warn') and $Extras.use_warn == '1'
                    <a style="color: white;" href="#" data-toggle="tooltip" title="Severe weather warnings active"><span id="icon-severe" class="hidden glyphicon glyphicon-exclamation-sign"></span></a>
                    #end if
                    #if $Extras.has_key('use_myblitzortung') and $Extras.use_myblitzortung == '1'
                    <a style="color: white;" href="#" data-toggle="tooltip" title="Thunderstorms active"><span id="icon-storm" class="hidden glyphicon glyphicon-flash"></span></a>
                    #end if
                </div>
            </h4>
          </div>
          <div class="col-md-6 text-right">
            <h4 class="text-right">$current.dateTime</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 col-md-push-3">
          <div class="hidden-xs hidden-sm row panel-group" id="accordianOne">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                    $station.location Lightning Detection
                </h4>
              </div>
              <div class="panel">
                <div class="panel-body">
                    <iframe width="100%" height="1100" scrolling="auto" style="border:none;" src="$Extras.myblitzortung_base/$Extras.myblitzortung_iframe_url"></iframe>
                </div>
              </div>
            </div>
          </div>
          <div class="hidden-lg hidden-md row panel-group">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                    $station.location Lightning Detection
                </h4>
              </div>
              <div class="panel">
                <div class="panel-body">
                    <img src="$Extras.myblitzortung_base/blitzortung.php?map=$Extras.myblitzortung_static" class="center-block img-responsive" style="padding-bottom: 5px;" alt="Lightning" />
                    <p>The full $station.location Weather Lightning Detection panel is only available on larger devices. You can view the full
                    site at <a href="$Extras.myblitzortung_base" target="_blank">$Extras.myblitzortung_base</a>.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-md-pull-9 col-min-padding">
          <div class="panel-group" id="accordionTwo">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordian-toggle" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseAccTwoOne">
                    Lightning and Storms
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse in" id="collapseAccTwoOne">
                <div class="panel-body">
                  <img src="$Extras.myblitzortung_base/blitzortung.php?animation=$Extras.myblitzortung_ani" class="center-block img-responsive" style="padding-bottom: 5px;" alt="Lightning" />
                  <h6><small>
                  <a href="$Extras.myblitzortung_cite_link" target="_blank">$Extras.myblitzortung_cite</a>
                  </small></h6>
                </div>
              </div>
            </div>
            #if $Extras.has_key('use_warn') and $Extras.use_warn == '1'
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordian-toggle collapsed" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseAccTwoTwo">
                    Warnings
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="collapseAccTwoTwo">
                <div class="panel-body">
                  <h6><small>$aus.WARNINGS.channel.title</small></h6>
                  <table class="table table-condensed table-responsive">
                    <tbody>
                      <tr>
                        <td class="text-primary">Current Warnings</td>
                      </tr>
                      #if $aus.WARNINGS.channel.getNode('item[1]') is None
                      <tr>
                        <td>
                          None
                        </td>
                      </tr>
                      #end if
                      ## Assume there would be no more than 20 concurrent warnings
                      ## Not using While in case XML breaks in some way and we get stuck in a loop
                      #set $severeWarning = False
                      #for $wnCount in range(1,21)
                      #set $wnIndex = '[' + str($wnCount) +']'
                      #if $aus.WARNINGS.channel.getNode('item'+$wnIndex) is None
                      #break
                      #end if
                      <tr>
                        <td>
                          <a href="$aus.WARNINGS.channel.getNode('item'+$wnIndex).link" target="_blank">$aus.WARNINGS.channel.getNode('item'+$wnIndex).title</a>
                          ## Set sever icon in header if severe warnings i.e. "Severe Weather Warning" or "Severe Thunderstorm Warning"
                          #if "Severe" in $aus.WARNINGS.channel.getNode('item'+$wnIndex).title.toString()
                          #set $severeWarning = True
                          #end if
                        </td>
                      </tr>
                      #end for
                      #if $severeWarning is True
                      <script type="text/javascript">
                        jQuery("#icon-severe").removeClass("hidden");
                      </script>
                      #end if
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            #end if
            #if $Extras.has_key('webcam_img')
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordian-toggle collapsed" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseAccTwoThree">
                    Webcam
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="collapseAccTwoThree">
                <div class="panel-body">
                  <a href="$Extras.webcam_url">
                    <img src="$Extras.webcam_img" class="center-block img-responsive" style="padding-bottom: 5px;" alt="Webcam" />
                  </a>
                  <p class="text-center">Click on the image above for the Webcam page</p>
                </div>
              </div>
            </div>
            #end if
            #if $Extras.has_key('radar_img')
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordian-toggle collapsed" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseAccTwoFour">
                    Radar
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="collapseAccTwoFour">
                <div class="panel-body">
                  <a href="$Extras.radar_url" target="_blank">
                    <img src="$Extras.radar_img" class="center-block img-responsive" style="padding-bottom: 5px;" alt="Radar" />
                  </a>
                  <p class="text-center">Click on the image above for an hourly animation</p>
                </div>
              </div>
            </div>
            #end if
            #if $Extras.has_key('satellite_img')
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordian-toggle collapsed" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseAccTwoFive">
                    Satellite
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="collapseAccTwoFive">
                <div class="panel-body">
                  <a href="$Extras.satellite_url" target="_blank">
                    <img src="$Extras.satellite_img" class="center-block img-responsive" style="padding-bottom: 5px;" alt="Satellite" />
                  </a>
                  <p class="text-center">Click on the image above for a daily animation</p>
                </div>
              </div>
            </div>
            #end if
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="panel panel-primary col-xs-12 col-sm-12 col-md-12">
          <div class="row voffset1 text-center">
            <a class="btn btn-primary" href="index.html">Current</a>
            <a class="btn btn-primary" href="week.html">Week</a>
            <a class="btn btn-primary" href="month.html">Month</a>
            <a class="btn btn-primary" href="year.html">Year</a>
          </div>
          <div class="row voffset1 text-center">
            <div class="btn-group dropup">
              <button class="btn btn-primary">Monthly Summary</button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu text-center" role="menu">
                #for $monthYear in $SummaryByMonth
                <li><a href="#" data-file="$monthYear">$monthYear</a></li>
                #end for
              </ul>
            </div>
            <div class="btn-group dropup">
              <button class="btn btn-primary">Yearly Summary</button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu text-center" role="menu">
                #for $yr in $SummaryByYear
                <li><a href="#" data-file="$yr">$yr</a></li>
                #end for
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    ## Include the Google Analytics code if the user has supplied an ID:
    #if $Extras.has_key('googleAnalyticsId')
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try{
            var pageTracker = _gat._getTracker("$Extras.googleAnalyticsId");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
    #end if
  </body>
</html>
