#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe, but if your text is 
## actually in Latin-1, then you should replace the string "UTF-8" with "latin-1"
#encoding UTF-8
#import dateutil.parser
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>$station.location Weather</title>
    <meta http-equiv="refresh" content="300">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Current weather conditions for $Extras.location_long, including daily graphs and statistics for temperature, wind and rain.">
    <meta name="author" content="">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    rel="stylesheet">
    <link href="weewx-responsive.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <link rel="icon" type="image/png" href="favicon.ico">
    <script type='text/javascript'>//<![CDATA[ 
      jQuery(window).load(function(){
        jQuery('div.btn-group ul.dropdown-menu li a').on('click', function (e) {
            var url = "NOAA/NOAA-";
            
            e.preventDefault(); // prevent the default anchor functionality
            url = url + jQuery(e.target).closest('a').data('file');
            url = url + ".txt";
            window.open(url, '_blank');
        });
      });//]]>
    </script>
    #if $Extras.has_key('use_thunderstorms') and $Extras.use_thunderstorms == '1'
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/locale/en-au.js"></script> 
    <script type="text/javascript" src="./trac.js"></script>
    <script type="text/javascript">
    jQuery(window).load(function () {
        trac("$Extras.thunderstorm_file", "#storm-trac");
    });
    </script>
    #end if
  </head>
  <body>
    <div class="container-fluid">
      <div class="row panel panel-primary">
        <div class="col-md-12 panel-heading">
          <div class="col-md-6 clearfix">
            <h4>
                <div class="pull-left">$station.location Weather</div>
                <div class="pull-right">
                    #if $Extras.has_key('use_warn') and $Extras.use_warn == '1'
                    <a style="color: white;" href="#" data-toggle="tooltip" title="Severe weather warnings active"><span id="icon-severe" class="hidden glyphicon glyphicon-exclamation-sign"></span></a>
                    #end if
                    #if $Extras.has_key('use_thunderstorms') and $Extras.use_thunderstorms == '1'
                    <a style="color: white;" href="#" data-toggle="tooltip" title="Thunderstorms active"><span id="icon-storm" class="hidden glyphicon glyphicon-flash"></span></a>
                    #end if
                </div>
            </h4>
          </div>
          <div class="col-md-6 text-right">
            <h4 class="text-right">$current.dateTime</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-push-4 col-lg-6 col-lg-push-3">
          <div class="row panel-group" id="accordianOne">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordian-toggle" data-toggle="collapse" data-parent="#accordianOne" href="#collapseAccOneOne"
                     draggable="true">Today's Graphs</a>
                </h4>
              </div>
              <div class="panel-collapse collapse in" id="collapseAccOneOne">
                <div id="graphs" class="panel-body">
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <img src="daytempdew.png" class="center-block img-responsive" style="padding-bottom: 5px;" alt="temperatures" />
                  </div>
                  #if $day.appTemp.has_data
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <img src="dayappTemp.png" class="center-block img-responsive" style="padding-bottom: 5px;" alt="app. temp" />
                  </div>
                  #end if
                  #if $day.heatindex.has_data or $day.windchill.has_data
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <img src="daytempchill.png" class="center-block img-responsive" style="padding-bottom: 5px;" alt="heatchill" />
                  </div>
                  #end if
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <img src="dayrain.png" class="center-block img-responsive" style="padding-bottom: 5px;" alt="rain" />
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <img src="daywind.png" class="center-block img-responsive" style="padding-bottom: 5px;" alt="wind" />
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <img src="daybarometer.png" class="center-block img-responsive" style="padding-bottom: 5px;" alt="barometer" />
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <img src="daywinddir.png" class="center-block img-responsive" style="padding-bottom: 5px;" alt="Hi Wind" />
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <img src="dayinside.png" class="center-block img-responsive" style="padding-bottom: 5px;" alt="Inside" />
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <img src="daywindvec.png" class="center-block img-responsive" style="padding-bottom: 5px;" alt="Wind Vector" />
                  </div>
                  #if $day.radiation.has_data
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <img src="dayradiation.png" class="center-block img-responsive" style="padding-bottom: 5px;" alt="Radiation" />
                  </div>
                  #end if
                  #if $day.UV.has_data
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <img src="dayuv.png" class="center-block img-responsive" style="padding-bottom: 5px;" alt="UV Index" />
                  </div>
                  #end if
                  #if $day.rxCheckPercent.has_data
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <img src="dayrx.png" class="center-block img-responsive" style="padding-bottom: 5px;" alt="day rx percent" />
                  </div>
                  #end if
                  #if $day.extraTemp1.has_data
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <img src="dayextra.png" class="center-block img-responsive" style="padding-bottom: 5px;" alt="$Extras.extraTempsPlotAltText" />
                  </div>
                  #end if
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-md-pull-8 col-lg-3 col-lg-pull-6 col-min-padding">
          <div class="panel-group" id="accordionTwo">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordian-toggle" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseAccTwoOne">
                    Current Conditions
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse in" id="collapseAccTwoOne">
                <div class="panel-body">
                  <table class="table table-condensed table-responsive" style="">
                    <tbody>
                      <tr>
                        <td>Outside Temperature</td>
                        <td>$current.outTemp</td>
                      </tr>
                      #if $day.windchill.has_data
                      <tr>
                        <td>Wind Chill</td>
                        <td>$current.windchill</td>
                      </tr>
                      #end if
                      #if $day.heatindex.has_data
                      <tr>
                        <td>Heat Index</td>
                        <td>$current.heatindex</td>
                      </tr>
                      #end if
                      #if $day.appTemp.has_data and $Extras.has_key('use_apptemp') and $Extras.use_apptemp == "1"
                      <tr>
                        <td>
                          App. Temperature
                        </td>
                        <td>
                          $current.appTemp ($aus.feelslike($current.appTemp.raw, $current.dateTime.raw))
                        </td>
                      </tr>
                      #end if
                      <tr>
                        <td>Dewpoint</td>
                        <td>$current.dewpoint</td>
                      </tr>
                      <tr>
                        <td>Humidity</td>
                        <td>$current.outHumidity</td>
                      </tr>
                      <tr>
                        <td>Barometer</td>
                        <td>$current.barometer</td>
                      </tr>
                      <tr>
                        <td>Barometer Trend ($trend.time_delta.hour.format("%.0f"))</td>
                        <td>$trend.barometer</td>
                      </tr>
                      <tr>
                        <td>Wind</td>
                        <td>$current.windSpeed from $current.windDir ($current.windDir.ordinal_compass)</td>
                      </tr>
                      <tr>
                        <td>Rain Rate</td>
                        <td>$current.rainRate</td>
                      </tr>
                      <tr>
                        <td>Inside Temperature</td>
                        <td>$current.inTemp</td>
                      </tr>
                      #if $day.extraTemp1.has_data
                      <tr>
                        <td>$Extras.extraTemp1Label</td>
                        <td>$current.extraTemp1</td>
                      </tr>
                      #end if
                      #if $day.extraTemp2.has_data
                      <tr>
                          <td>$Extras.extraTemp2Label</td>
                          <td>$current.extraTemp2</td>
                      </tr>
                      #end if
                      #if $day.UV.has_data
                      <tr>
                        <td>UV</td>
                        <td>$current.UV</td>
                      </tr>
                      #end if
                      #if $day.ET.has_data and $day.ET.sum.raw > 0.0
                      <tr>
                        <td>ET</td>
                        <td>$current.ET</td>
                      </tr>
                      #end if
                      #if $day.radiation.has_data
                      <tr>
                        <td>Solar Radiation</td>
                        <td>$current.radiation</td>
                      </tr>
                      #end if
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordian-toggle collapsed" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseAccTwoTwo">
                    Since Midnight
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="collapseAccTwoTwo">
                <div class="panel-body">
                  <table class="table table-condensed table-responsive">
                    <tbody>
                      <tr>
                        <td style="border-bottom: none;">High Temperature</td>
                        <td style="border-bottom: none;">$day.outTemp.max at $day.outTemp.maxtime</td>
                      </tr>
                      <tr>
                        <td style="border-top: none;">Low Temperature</td>
                        <td style="border-top: none;">$day.outTemp.min at $day.outTemp.mintime</td>
                      </tr>
                      #if $day.heatindex.has_data or $day.windchill.has_data
                      <tr>
                        <td style="border-bottom: none;">High Heat Index</td>
                        <td style="border-bottom: none;">$day.heatindex.max at $day.heatindex.maxtime</td>
                      </tr>
                      <tr>
                        <td style="border-top: none;">Low Wind Chill</td>
                        <td style="border-top: none;">$day.windchill.min at $day.windchill.mintime</td>
                      </tr>
                      #end if
                      #if $day.appTemp.has_data and $Extras.has_key('use_apptemp') and $Extras.use_apptemp == "1"
                      <tr>
                        <td style="border-bottom: none;">High App. Temp.</td>
                        <td style="border-bottom: none;">$day.appTemp.max ($aus.feelslike($day.appTemp.max.raw, $day.appTemp.maxtime.raw)) at $day.appTemp.maxtime</td>
                      </tr>
                      <tr>
                        <td style="border-top: none;">Low App. Temp.</td>
                        <td style="border-top: none;">$day.appTemp.min ($aus.feelslike($day.appTemp.min.raw, $day.appTemp.mintime.raw)) at $day.appTemp.mintime</td>
                      </tr>
                      #end if
                      <tr>
                        <td style="border-bottom: none;">High Humidity</td>
                        <td style="border-bottom: none;">$day.outHumidity.max at $day.outHumidity.maxtime</td>
                      </tr>
                      <tr>
                        <td style="border-top: none;">Low Humidity</td>
                        <td style="border-top: none;">$day.outHumidity.min at $day.outHumidity.mintime</td>
                      </tr>
                      <tr>
                        <td style="border-bottom: none;">High Dewpoint</td>
                        <td style="border-bottom: none;">$day.dewpoint.max at $day.dewpoint.maxtime</td>
                      </tr>
                      <tr>
                        <td style="border-top: none;">Low Dewpoint</td>
                        <td style="border-top: none;">$day.dewpoint.min at $day.dewpoint.mintime</td>
                      </tr>
                      <tr>
                        <td style="border-bottom: none;">High Barometer</td>
                        <td style="border-bottom: none;">$day.barometer.max at $day.barometer.maxtime</td>
                      </tr>
                      <tr>
                        <td style="border-top: none;">Low Barometer</td>
                        <td style="border-top: none;">$day.barometer.min at $day.barometer.mintime</td>
                      </tr>
                      <tr>
                        <td>Today's Rain</td>
                        <td>$day.rain.sum</td>
                      </tr>
                      <tr>
                        <td>High Rain Rate</td>
                        <td>$day.rainRate.max at $day.rainRate.maxtime</td>
                      </tr>
                      <tr>
                        <td>
                          High Wind
                        </td>
                        <td>
                          $day.wind.max from $day.wind.gustdir ($day.wind.gustDir.ordinal_compass) at $day.wind.maxtime
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Average Wind
                        </td>
                        <td>
                          $day.wind.avg
                        </td>
                      </tr>
                      <tr>
                        <td>
                          RMS Wind
                        </td>
                        <td>
                          $day.wind.rms
                        </td>
                      </tr>
                      <tr>
                        <td style="border-bottom: none;">Vector Average Speed</td>
                        <td style="border-bottom: none;">$day.wind.vecavg</td>
                      </tr>
                      <tr>
                        <td style="border-top: none;">Vector Average Direction</td>
                        <td style="border-top: none;">$day.wind.vecdir ($day.wind.vecdir.ordinal_compass)</td>
                      </tr>
                      <tr>
                        <td style="border-bottom: none;">High Inside Temperature</td>
                        <td style="border-bottom: none;">$day.inTemp.max at $day.inTemp.maxtime</td>
                      </tr>
                      <tr>
                        <td style="border-top: none;">Low Inside Temperature</td>
                        <td style="border-top: none;">$day.inTemp.min at $day.inTemp.mintime</td>
                      </tr>
                      #if $day.extraTemp1.has_data
                      <tr>
                        <td style="border-bottom: none;">High $Extras.extraTemp1Label</td>
                        <td style="border-bottom: none;">$day.extraTemp1.max at $day.extraTemp1.maxtime</td>
                      </tr>
                      <tr>
                        <td style="border-top: none;">Low $Extras.extraTemp1Label</td>
                        <td style="border-top: none;">$day.extraTemp1.min at $day.extraTemp1.mintime</td>
                      </tr>
                      #end if
                        #if $day.extraTemp2.has_data
                        <tr>
                            <td style="border-bottom: none;">High $Extras.extraTemp2Label</td>
                            <td style="border-bottom: none;">$day.extraTemp2.max at $day.extraTemp2.maxtime</td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">Low $Extras.extraTemp2Label</td>
                            <td style="border-top: none;">$day.extraTemp2.min at $day.extraTemp2.mintime</td>
                        </tr>
                      #end if
                      #if $day.UV.has_data
                      <tr>
                        <td style="border-bottom: none;">High UV</td>
                        <td style="border-bottom: none;">Low UV</td>
                      </tr>
                      <tr>
                        <td style="border-top: none;">$day.UV.max at $day.UV.maxtime</td>
                        <td style="border-top: none;">$day.UV.min at $day.UV.mintime</td>
                      </tr>
                      #end if
                      #if $day.ET.has_data and $day.ET.sum.raw >0.0
                      <tr>
                        <td style="border-bottom: none;">High ET</td>
                        <td style="border-bottom: none;">Low ET</td>
                      </tr>
                      <tr>
                        <td style="border-top: none;">$day.ET.max at $day.ET.maxtime</td>
                        <td style="border-top: none;">$day.ET.min at $day.ET.mintime</td>
                      </tr>
                      #end if
                      #if $day.radiation.has_data
                      <tr>
                        <td style="border-bottom: none;">High Radiation</td>
                        <td style="border-bottom: none;">Low Radiation</td>
                      </tr>
                      <tr>
                        <td style="border-top: none;">$day.radiation.max at $day.radiation.maxtime</td>
                        <td style="border-top: none;">$day.radiation.min at $day.radiation.mintime</td>
                      </tr>
                      #end if
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            #if $Extras.has_key('radar_img')
            <div class="hidden-lg panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordian-toggle collapsed" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseAccTwoThree">
                    Radar
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="collapseAccTwoThree">
                <div class="panel-body">
                  <a href="$Extras.radar_url" target="_blank">
                    <img src="$Extras.radar_img" class="center-block img-responsive" style="padding-bottom: 5px;" alt="Radar" />
                  </a>
                  <p class="text-center">Click on the image above for an hourly animation</p>
                </div>
              </div>
            </div>
            #end if
            #if $Extras.has_key('satellite_img')
            <div class="hidden-lg panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordian-toggle collapsed" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseAccTwoFour">
                    Satellite
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="collapseAccTwoFour">
                <div class="panel-body">
                  <a href="$Extras.satellite_url" target="_blank">
                    <img src="$Extras.satellite_img" class="center-block img-responsive" style="padding-bottom: 5px;" alt="Satellite" />
                  </a>
                  <p class="text-center">Click on the image above for a daily animation</p>
                </div>
              </div>
            </div>
            #end if
            ## Comment out below to not include Australian Forecast Panel
            ## See index-forecast.tmpl for more information
            ## Forecast Accordian is collapseAccTwoFive
            #if $Extras.has_key('use_forecast') and $Extras.use_forecast == '1'
            #include "index-forecast.tmpl"
            #end if
            #if $Extras.has_key('use_warn') and $Extras.use_warn == '1'
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordian-toggle collapsed" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseAccTwoSix">
                    Warnings
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="collapseAccTwoSix">
                <div class="panel-body">
                  <h6><small>$aus.WARNINGS.channel.title</small></h6>
                  <table class="table table-condensed table-responsive">
                    <tbody>
                      <tr>
                        <td class="text-primary">Current Warnings</td>
                      </tr>
                      #if $aus.WARNINGS.channel.getNode('item[1]') is None
                      <tr>
                        <td>
                          None
                        </td>
                      </tr>
                      #end if
                      ## Assume there would be no more than 20 concurrent warnings
                      ## Not using While in case XML breaks in some way and we get stuck in a loop
                      #set $severeWarning = False
                      #for $wnCount in range(1,21)
                      #set $wnIndex = '[' + str($wnCount) +']'
                      #if $aus.WARNINGS.channel.getNode('item'+$wnIndex) is None
                      #break
                      #end if
                      <tr>
                        <td>
                          <a href="$aus.WARNINGS.channel.getNode('item'+$wnIndex).link" target="_blank">$aus.WARNINGS.channel.getNode('item'+$wnIndex).title</a>
                          ## Set sever icon in header if severe warnings i.e. "Severe Weather Warning" or "Severe Thunderstorm Warning"
                          #if "Severe" in $aus.WARNINGS.channel.getNode('item'+$wnIndex).title.toString()
                          #set $severeWarning = True
                          #end if
                        </td>
                      </tr>
                      #end for
                      #if $severeWarning is True
                      <script type="text/javascript">
                        jQuery("#icon-severe").removeClass("hidden");
                      </script>
                      #end if
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            #end if
            #if $Extras.has_key('use_thunderstorms') and $Extras.use_thunderstorms == '1'
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordian-toggle collapsed" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseAccTwoSeven">
                    Thunderstorms
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="collapseAccTwoSeven">
                <div class="panel-body">
                  <div id="storm-trac"><p>Storm Data Not Available</p></div>
                  <h6><small>
                  <a href="$Extras.thunderstorm_cite_link">$Extras.thunderstorm_cite</a>
                  </small></h6>
                </div>
              </div>
            </div>
            #end if
            #if $Extras.has_key('use_myblitzortung') and $Extras.use_myblitzortung == '1'
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordian-toggle collapsed" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseAccTwoSeven">
                    Lightning and Storms
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="collapseAccTwoSeven">
                <div class="panel-body">
                  <a href="blitzortung.html"> 
                    <img src="$Extras.myblitzortung_base\blitzortung.php?animation=$Extras.myblitzortung_ani" class="center-block img-responsive" style="padding-bottom: 5px;" alt="Lightning" />
                  </a>
                  <p class="text-center">Click on the image above for full near real time and archive lightning information.</p>
                  <h6><small>
                  <a href="$Extras.myblitzortung_cite_link" target="_blank">$Extras.myblitzortung_cite</a>
                  </small></h6>
                </div>
              </div>
            </div>
            #end if
            #if $Extras.has_key('webcam_img')
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordian-toggle collapsed" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseAccTwoEight">
                    Webcam
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="collapseAccTwoEight">
                <div class="panel-body">
                  <a href="$Extras.webcam_url">
                    <img src="$Extras.webcam_img" class="center-block img-responsive" style="padding-bottom: 5px;" alt="Webcam" />
                  </a>
                  <p class="text-center">Click on the image above for the Webcam page</p>
                </div>
              </div>
            </div>
            #end if
            #if $Extras.has_key('use_bomobs') and $Extras.use_bomobs == '1'
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordian-toggle collapsed" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseAccTwoNine">
                   Observations (BOM)
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="collapseAccTwoNine">
                <div class="panel-body">
                  <h6>
                    <small>
                    BOM observatons for $aus.OBS_LOCAL.observations.header.name<br>
                    $aus.OBS_LOCAL.observations.header.refresh_message
                    </small> 
                  </h6>
                  <table class="table table-condensed table-responsive">
                    <tbody>
                      <tr>
                        <td>Current Temperature</td>
                        <td>$aus.OBS_LOCAL.observations.data.air_temp °C</td>
                      </tr>
                      <tr>
                        <td>Apparent Temperature</td>
                        <td>$aus.OBS_LOCAL.observations.data.apparent_t °C ($aus.feelslike($float($aus.OBS_LOCAL.observations.data.apparent_t.toString()), $current.dateTime.raw))</td>
                      </tr>
                      <tr>
                        <td>Relative Humidity</td>
                        <td>$aus.OBS_LOCAL.observations.data.rel_hum %</td>
                      </tr>
                      <tr>
                        <td>Wind</td>
                        <td>$aus.OBS_LOCAL.observations.data.wind_spd_kmh km/h from $aus.OBS_LOCAL.observations.data.wind_dir</td>
                      </tr>
                      <tr>
                        <td>Rain since 9am</td>
                        <td>$aus.OBS_LOCAL.observations.data.rain_trace mm</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            #end if
            #if $Extras.has_key('use_almanac') and $Extras.use_almanac == '1'
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordian-toggle collapsed" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseAccTwoTen">
                    Almanac
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="collapseAccTwoTen">
                <div class="panel-body">
                  <h4>Sun</h4>
                  <table class="table table-condensed table-responsive">
                    <tr>
                      <td style="border-bottom: none;">Start civil twilight:</td>
                      <td style="border-bottom: none;">$almanac(horizon=-6).sun(use_center=1).rise</td>
                    </tr>
                    <tr>
                      <td style="border-bottom: none;">Sunrise:</td>
                      <td style="border-bottom: none;">$almanac.sun.rise</td>
                    </tr>
                    <tr>
                      <td style="border-bottom: none;">Transit:</td>
                      <td style="border-bottom: none;">$almanac.sun.transit</td>
                    </tr>
                    <tr>
                      <td style="border-bottom: none;">Sunset:</td>
                      <td style="border-bottom: none;">$almanac.sun.set<td>
                    </tr>
                    <tr>
                      <td style="border-bottom: none;">End civil twilight:</td>
                      <td style="border-bottom: none;">$almanac(horizon=-6).sun(use_center=1).set</td>
                    </tr>
                    <tr>
                      <td style="border-bottom: none;">Azimuth:</td>
                      <td style="border-bottom: none;">$("%.1f&deg;" % $almanac.sun.az)</td>
                    </tr>
                    <tr>
                      <td style="border-bottom: none;">Altitude:</td>
                      <td style="border-bottom: none;">$("%.1f&deg;" % $almanac.sun.altitude)</td>
                    </tr>
                    <tr>
                      <td style="border-bottom: none;">Right ascension:</td>
                      <td style="border-bottom: none;">$("%.1f&deg;" % $almanac.sun.ra)</td>
                    </tr style="border-bottom: none;">
                    <tr>
                      <td style="border-bottom: none;">Declination:</td>
                      <td style="border-bottom: none;">$("%.1f&deg;" % $almanac.sun.dec)</td>
                    </tr>
                    #if $almanac.next_equinox.raw < $almanac.next_solstice.raw
                    ## The equinox is before the solstice. Display them in order.
                    <tr>
                      <td style="border-bottom: none;">Equinox:</td>
                      <td style="border-bottom: none;">$almanac.next_equinox</td>
                    </tr>
                    <tr>
                      <td style="border-bottom: none;">Solstice:</td>
                      <td style="border-bottom: none;">$almanac.next_solstice</td>
                    </tr>
                    #else
                    ## The solstice is before the equinox. Display them in order.
                    <tr>
                      <td style="border-bottom: none;">Solstice:</td>
                      <td style="border-bottom: none;">$almanac.next_solstice</td>
                    </tr>
                    <tr>
                      <td style="border-bottom: none;">Equinox:</td>
                      <td style="border-bottom: none;">$almanac.next_equinox</td>
                    </tr>
                    #end if
                  </table>
                  <h4>Moon</h4>
                  <table class="table table-condensed table-responsive">
                    <tr>
                      <td style="border-bottom: none;">Rise:</td>
                      <td style="border-bottom: none;">$almanac.moon.rise</td>
                    <tr>
                      <td style="border-bottom: none;">Transit:</td>
                      <td style="border-bottom: none;">$almanac.moon.transit</td>
                    </tr>
                    <tr>
                      <td style="border-bottom: none;">Set:</td>
                      <td style="border-bottom: none;">$almanac.moon.set</td>
                    </tr>
                    <tr>
                      <td style="border-bottom: none;">Azimuth:</td>
                      <td style="border-bottom: none;">$("%.1f&deg;" % $almanac.moon.az)</td>
                    </tr>
                    <tr>
                      <td style="border-bottom: none;">Altitude:</td>
                      <td style="border-bottom: none;">$("%.1f&deg;" % $almanac.moon.alt)</td>
                    </tr>
                    <tr>
                      <td style="border-bottom: none;">Right ascension:</td>
                      <td style="border-bottom: none;">$("%.1f&deg;" % $almanac.moon.ra)</td>
                    </tr>
                    <tr>
                      <td style="border-bottom: none;">Declination:</td>
                      <td style="border-bottom: none;">$("%.1f&deg;" % $almanac.moon.dec)</td>
                    </tr>
                    #if $almanac.next_full_moon.raw < $almanac.next_new_moon.raw
                    <tr>
                      <td style="border-bottom: none;">Full moon:</td>
                      <td style="border-bottom: none;">$almanac.next_full_moon</td>
                    </tr>
                    <tr>
                      <td style="border-bottom: none;">New moon:</td>
                      <td style="border-bottom: none;">$almanac.next_new_moon</td>
                    </tr>
                    #else
                    <tr>
                      <td style="border-bottom: none;">New moon:</td>
                      <td style="border-bottom: none;">$almanac.next_new_moon</td>
                    </tr>
                    <tr>
                      <td style="border-bottom: none;">Full moon:</td>
                      <td style="border-bottom: none;">$almanac.next_full_moon</td>
                    </tr>
                    #end if
                    <tr>
                      <td style="border-bottom: none;">Phase:</td>
                      <td style="border-bottom: none;">$almanac.moon_phase<br/>($almanac.moon_fullness% full)</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            #end if
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordian-toggle collapsed" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseAccTwoEleven">
                    About
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="collapseAccTwoEleven">
                <div class="panel-body">
                  <table class="table table-condensed table-responsive">
                    <thead>
                      <tr>
                        <th colspan="2">
                          <h4 class="text-center">Location</h4>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td colspan="2">
                          <h5 class="text-center">
                            #if $Extras.has_key('location_long')
                            $Extras.location_long
                            #else
                            $station.location
                            #end if
                          </h5>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h5 class="text-right">Latitude:</h5>
                        </td>
                        <td>
                          <h5 class="text-left">$station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2]</h5>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h5 class="text-right">Longitude:</h5>
                        </td>
                        <td>
                          <h5 class="text-left">$station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2]</h5>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h5 class="text-right">Elevation:</h5>
                        </td>
                        <td>
                          <h5 class="text-left">$station.altitude</h5>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="text-center">
                    This station uses a $station.hardware, controlled by <a href="http://www.weewx.com">'weewx'</a>, an experimental
                    weather software system written in Python. Weewx was designed to be simple,
                    fast, and easy to understand by leveraging modern software concepts.
                  </p>
                  <p class="text-center">
                    Weewx uptime:  $station.uptime<br />
                    Server uptime: $station.os_uptime<br />
                    weewx v$station.version
                  </p>
                  #if $Extras.has_key('contact_email')
                  <p class="text-center">Email: <a href="mailto:$Extras.contact_email">$Extras.contact_email</a></p>
                  #end if
                  <p class="text-center">This website uses <a href="http://glyphicons.com/" target="_blank">Glyphicons</a> Halflings icon set as part of the Bootstrap framework</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hidden-xs hidden-sm hidden-md col-lg-3 col-min-padding">
          <div class="panel-group">
            #if $Extras.has_key('radar_img')
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  Radar
                </h4>
              </div>
              <div class="panel">
                <div class="panel-body">
                  <a href="$Extras.radar_url" target="_blank">
                    <img src="$Extras.radar_img" class="center-block img-responsive" style="padding-bottom: 5px;" alt="Radar" />
                  </a>
                  <p class="text-center">Click on the image above for an hourly animation</p>
                </div>
              </div>
            </div>
            #end if
            #if $Extras.has_key('satellite_img')
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  Satellite
                </h4>
              </div>
              <div class="panel">
                <div class="panel-body">
                  <a href="$Extras.satellite_url" target="_blank">
                    <img src="$Extras.satellite_img" class="center-block img-responsive" style="padding-bottom: 5px;" alt="Satellite" />
                  </a>
                  <p class="text-center">Click on the image above for a daily animation</p>
                </div>
              </div>
            </div>
            #end if
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="panel panel-primary col-xs-12 col-sm-12 col-md-12">
          <div class="row voffset1 text-center">
            <a class="active btn btn-primary" href="index.html">Current</a>
            <a class="btn btn-primary" href="week.html">Week</a>
            <a class="btn btn-primary" href="month.html">Month</a>
            <a class="btn btn-primary" href="year.html">Year</a>
          </div>
          <div class="row voffset1 text-center">
            <div class="btn-group dropup">
              <button class="btn btn-primary">Monthly Summary</button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu text-center" role="menu">
                #for $monthYear in $SummaryByMonth
                <li><a href="#" data-file="$monthYear">$monthYear</a></li>
                #end for
              </ul>
            </div>
            <div class="btn-group dropup">
              <button class="btn btn-primary">Yearly Summary</button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu text-center" role="menu">
                #for $yr in $SummaryByYear
                <li><a href="#" data-file="$yr">$yr</a></li>
                #end for
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    ## Include the Google Analytics code if the user has supplied an ID:
    #if $Extras.has_key('googleAnalyticsId')
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("$Extras.googleAnalyticsId");
        pageTracker._trackPageview();
      } catch (err) { }
    </script>
    #end if
    <script type="application/ld+json">
      {
      "@context" : "http://schema.org",
      "@type" : "Article",
      "Headline" : "$Extras.location_long Weather",
      "datePublished" : "$current.dateTime.format("%Y-%m-%dT%H:%M:%S")$Extras.ISO8061_delta",
      "image" : "$station.station_url/daytempdew.png",
      #if $day.appTemp.has_data and $Extras.has_key('use_apptemp') and $Extras.use_apptemp == "1"
      "articleSection" : "Current Conditions: Outside Temperature $current.outTemp App. Temperature $current.appTemp ($aus.feelslike($current.appTemp.raw, $current.dateTime.raw)) Dewpoint $current.dewpoint Humidity $current.outHumidity Barometer $current.barometer Wind $current.windSpeed from $current.windDir ($current.windDir.ordinal_compass) Rain Today $day.rain.sum"
      #else
      "articleSection" : "Current Conditions: Outside Temperature $current.outTemp Dewpoint $current.dewpoint Humidity $current.outHumidity Barometer $current.barometer Wind $current.windSpeed from $current.windDir ($current.windDir.ordinal_compass) Rain Today $day.rain.sum"
      #end if
      }
    </script>
    <script type="application/ld+json">
      {
      "@context" : "http://schema.org",
      "@type" : "WebSite",
      "name" : "$Extras.location_long Weather",
      "alternateName" : "Current $Extras.location_long Weather",
      "url" : "$station.station_url"
      }
    </script>
  </body>
</html>
