Locality: $aus.OBS_LOCAL.observations.header.name
Time_0: $aus.OBS_LOCAL.observations.data.local_date_time
Air_Temp_0: $aus.OBS_LOCAL.observations.data.air_temp
Time_1: $aus.OBS_LOCAL.observations.data(1).local_date_time
Air_Temp_1: $aus.OBS_LOCAL.observations.data(1).air_temp
