/* 
 * CSS for the weewx responsive skin
 * $Id: weewx-responsive.css 2749 2014-11-29 18:15:24Z tkeffer $
 */
  
/* Global */

.voffset1 { margin-top: 5px; margin-bottom: 5px; }

#graphs > .col-md-6 {padding-left: 2px; padding-right: 2px;}

.video-src { color:#337CBB; }
.video-src:hover { cursor:pointer; color:#0D5695; }
.video-src:before { 		
        font-family: 'Glyphicons Halflings';
		content: "\e009";
		float: left;
        padding-right: 1em;
}

.panel-heading a:focus { text-decoration: none; outline: none; }	
.panel-heading .accordian-toggle:after {
		font-family: 'Glyphicons Halflings';
		content: "\e114";
		float: right;
		color: white;
}
.panel-heading .accordian-toggle.collapsed:after {
		content: "\e080";
}

ul.text-center { text-align: center; }

.border-top { border-top: 1px solid #ddd; }

.border-top-dotted { border-top: 1px dotted #ddd; padding-top: 2px;}

.border-top-thick2 { border-top: 3px solid #ddd; padding-top: 2px; }

.border-top-thick { border-top: 2px solid #ddd; padding-top: 2px; }

.border-bottom-dotted { border-bottom: 1px dotted #ddd; padding-bottom: 2px; }

.border-right-dotted { border-right: 1px dotted #ddd; }

@media (min-width: 768px) {
	.border-right-dashed { border-right: 1px dashed #ddd; }
}

.extra-vertical-padding { padding-top: 8px; padding-bottom: 8px; }

.col-min-padding {
    padding-left: 1px !important;
    padding-right: 1px !important;
}